@charset "UTF-8";

#discuss-board a, #reply a {
	color: black;
	cursor: pointer;
}

#discuss-board a:hover {
	color: darkorange;
}

#discuss-board li {
	margin: 5px 10px;
}

#reply {
	display: flex;
	flex-direction: column;
}
