@charset "UTF-8";

.body-wrapper-discuss {
	margin: 50px 0;
	align-self: flex-start;
	width: 1270px;
}

.discuss-board-wrapper {
	width: 800px;
}

.body-wrapper-discuss a, #reply a {
	color: darkslategrey;
	cursor: pointer;
}

.body-wrapper-discuss a:hover {
	color: darkorange;
	transition: 0.2s;
}

.discuss-board-top {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}

.discuss-board-wrapper button {
	width: 100px;
	height: 35px;
	font-size: 14px;
	background-color: lightgrey;
	border: 1px solid white;
	opacity: 0.8;
	border-radius: 5px;
}

.discuss-board-top button {
	position: relative;
	top: 8px;
}

.discuss-board-table {
	width: 800px;
	border-collapse: collapse;
}



.discuss-board-table > thead {
	border-bottom: 5px double darkslategrey;
	background-color: lightgrey;
	height: 40px;
}

.discuss-board-table > tbody {
	border-bottom: 1px solid darkgrey;
}

.discuss-board-table tr {
	height: 35px;
	text-align: center;
}

.discuss-subject {
	overflow: hidden;
	width: 130px;
	padding: 0 7px;
	color: darkgrey;
}

.discuss-title {
	text-align: left;
}

.replyCnt {
	width: 30px;
}

.discuss-date {
	width: 120px; 
}

.discuss-board-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.discuss-board-bottom form {
	display: flex;
	align-items: center;
}

.discuss-board-bottom select, .discuss-board-bottom input {
	padding: 5px 10px;
	height: 30px;
	border: 1px solid grey;
	font-size: 12px;
}

.discuss-board-bottom select {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: none;
}

.discuss-board-bottom input {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 18px;
	width: 200px;
}

.discuss-board-bottom button {
	margin-left: 3px;
	height: 32px;
	width: 60px;
}

li.paginate-button > a{
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

li.paginate-button > a:hover {
	background-color: lightgrey;
	opacity: 0.9;
}

li.paginate-button.page-active > a{
	background-color: darkorange;
	opacity: 0.6;
	color: white;
}

.discuss-view-top {
	display: flex;
	justify-content: space-between;
}

.discuss-view-top > div > *, .discuss-view-reply label, .discuss-form label {
	border-right: 1px solid darkgrey;
	padding: 0 8px;
	height: 25px;
}

.discuss-view-top p {
	display: inline-block;
	width: 82px;
}

.discuss-view label {
	display: inline-block;
	width: 82px;
	color: darkgrey;
	font-size: 0.9em;
}

.discuss-view-top label:first-child {
	border: none;
}

.discuss-view-title {
	width: 350px !important;
}

.discuss-view-title.subject {
	border: none;
}

.discuss-view-bottom label {
	padding-left: 8px;
}

.discuss-view-content {
	margin: 15px 0;
	min-height: 250px;
	padding: 10px;
}

.discuss-view-button {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}

.discuss-view-reply label {
	border: none;
}

#reply-no-user {
	width: 100%;
}

.discuss-view-reply input {
	width: 550px; 
	padding: 7px 12px;
	border: none;
	border-bottom: 1px solid darkgrey;
}

.discuss-view-reply button {
	margin-left: 15px;
	height: 30px;
}

#reply {
	display: flex;
	flex-direction: column;
}

#reply li {
	border-bottom: 1px solid darkgrey;
	padding: 8px 15px;
}

#reply > li > div > div {
	display: flex;
	justify-content: space-between;
}

#reply p {
	font-size: 0.9em;
}

#reply small {
	color: darkgrey;
}

.reply-li input {
	width: 620px;
	border-bottom: 1px solid darkorange;
}

.reply-li > div > div > div > button {
	width: 40px;
	margin-left: 0;
}

#reply-page {
	margin: 10px 0;	
}

.discuss-form input {
	border: none;
	height: 28px;
	margin-left: 8px;
	width: 680px;
}

.discuss-form-bottom textarea {
	width: 766px;
}

.discuss-form-bottom label {
	border: none;
}
