<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.rwd.demo.mapper.IDiscussMapper">
	
	<insert id="regist">
		insert into rwd_discuss (dis_num, subject, title, writer, content)
			values (seq_rwd_discuss.nextval, #{param1.subject}, #{param1.title}, #{param2.email}, #{param1.content})
	</insert>
	
	<select id="getList" resultType="com.rwd.demo.domain.DiscussVO">
		select * from view_rwd_discuss where dis_num > 0 order by dis_num desc
	</select>
	
	<select id="getDiscuss" resultType = "com.rwd.demo.domain.DiscussVO">
		select * from view_rwd_discuss where dis_num = #{num}
	</select>
	
	<update id="modify">
		update rwd_discuss
			set subject = #{subject}, 
				title = #{title}, 
				content = #{content}, 
				update_date = sysdate
		where dis_num = #{dis_num}
	</update>
	
	<delete id="remove">
		delete from rwd_discuss	where dis_num = #{dis_num}
	</delete>

</mapper>